* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
header {
  background: #50b3a2;
  color: #fff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}
header h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.sections {
  margin: 20px auto;
}
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}
